<label class="block py-2">
    {% assign classes = "block w-full p-1" %}
    {{label}} 
    {% if type == 'textarea'%}
        <textarea class="{{classes}} h-8" name="{{name}}" {% if required%} required {% endif %}></textarea>
    {% else %}
        <input class="{{classes}}" name="{{name}}" {% if required%} required {% endif %} type="{{type | default: "text"}}" />
    {% endif %}    
</label>