<nav data-nav>
    <button
        aria-controls="menuItems"
        aria-expanded="false"
        aria-label="Expand navigation"
        class="block lg:hidden text-light dark:text-dark"
        data-nav-toggle>
        <span data-nav-open-icon>{{ '/_includes/icons/menu.svg' | svgContents:'w-3 h-3' }}</span>
        <span class="hidden" data-nav-close-icon>{{ '/_includes/icons/cross.svg' | svgContents:'w-3 h-3' }}</span>
    </button>
    <ul
        class="hidden pt-3 pl-3 min-h-screen bg-dark dark:bg-light text-light
            dark:text-dark lg:flex lg:p-0 lg:min-h-0 animate-fade-in lg:animate-none"
        data-nav-links
        id="menuItems">
        {% for item in navigation %}
            {% if page.filePathStem == item.key %}
                {% assign activeClasses = 'underline'%}
                {% assign currentAttribute = 'aria-current="page"' %}
            {% else %}
                {% assign activeClasses = null %}
                {% assign currentAttribute = null %}
            {% endif %}
            <li class="py-2 lg:px-4 lg:first:pl-0 {{activeClasses}}" {{currentAttribute}}>
                <a href="{{item.key}}">{{item.title}}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
